.banner-container {
  /* width: 1600px; */
  margin-top: 113px;
  margin-left: 2px;
  margin-bottom: 229px;
}

.banner-big {
  display: flex;
  width: 1140px;
  height: 397px;
  margin: 0 auto;
  background-color: lightblue;
}

.banner-info {
  width: 373px;
  height: 529px;
  background-color: #222224;
}

.offer-text {
  letter-spacing: 1.3px;
  margin-left: 35px;
  margin-top: 134px;
  width: 301px;
  height: 78px;
  color: #ffffff;
  position: absolute;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 54px;
}

.offer-text span:nth-child(1) {
  color: #ffffff;
  font-weight: 700;
}

.offer-text span span:nth-child(1) {
  color: #f16d7f;
}

.offer-text span:nth-child(2) {
  margin-top: -2px;
  margin-left: 1px;
  display: block;
  font-family: Lato, sans-serif;
  color: #ffffff;
  font-size: 32px;
  font-weight: 500;
  text-align: left;
  letter-spacing: 0.9px;
}

.banner-info {
  // display: flex;
  // flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: space-around;
}

.banner-info .banner-info-det:nth-child(1) {
  background-color: #222224;
  width: 219px;
  height: 110px;
  padding-top: 56px;
  padding-left: 111px;
  padding-right: 43px;
}

.banner-info-det {
  background-color: #222224;
  width: 219px;
  height: 110px;
  padding-top: 47px;
  padding-left: 111px;
  padding-right: 43px;
  letter-spacing: 0.5px;
}

.banner-info .banner-info-det:nth-child(3) {
  background-color: #222224;
  width: 219px;
  height: 110px;
  padding-top: 46px;
  padding-left: 111px;
  padding-right: 43px;
  letter-spacing: 0.5px;
}

.banner-info-det span:nth-child(1) {
  display: block;
  margin-top: -4px;
  padding-left: 2px;
  padding-bottom: 8px;
  font-family: Lato, sans-serif;
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
}

.banner-info-det span:nth-child(2) {
  font-family: Lato, sans-serif;
  color: #fbfbfb;
  font-size: 13.5px;
  font-weight: 300;
  line-height: 20px;
  text-align: left;
  word-break: break-all;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
}

.truck-icon::before {
  position: absolute;
  content: url("images/truck-offer.svg");
  margin-left: -77px;
  margin-top: -4px;
}

.badge-icon::before {
  position: absolute;
  content: url("images/disc-badge-offer.svg");
  margin-left: -77px;
  margin-top: -5px;
}

.crown-icon::before {
  position: absolute;
  content: url("images/crown-offer.svg");
  margin-left: -81px;
  margin-top: -7px;
}
/* end of banner */