.footer-container {
  /* width: 1600px; */
  height: 428px;
}

.upper-footer-container {
  margin: 0 auto;
  width: 1140px;
  height: 349px;
  display: flex;
}
// .logo-brand-footer {
//   display: flex;
//   align-items: center;
//   padding-left: 1px;
// }

.about-company-text {
  width: 428px;
  height: 260px;
}

.about-text-itself {
  letter-spacing: 0.35px;
  width: 428px;
  height: 180px;
  padding-left: 2px;

  p {
    padding-top: 8px;
  }

  p:last-child {
    padding-top: 9.5px;
  }
}

.about-company-text p {
  font-family: Lato, sans-serif;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.footer-menu-container {
  padding-top: 8px;
  margin-left: 64px;
  width: 609px;
  max-height: 238px;
  // display: flex;
  display: inline-block;
}

.footer-menu-container span {
  letter-spacing: 0.45px;
  font-family: Lato, sans-serif;
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  display: inline-block;
}

.footer-menu {
  width: 203px;
  height: 246px;
  float: left;
}

.footer-menu:nth-child(2) {
  width: 154px;
  margin-left: 27px;
}

.footer-menu:last-child {
  width: 154px;
  margin-left: 70px;
}

.nav-footer {
  list-style: none;
  letter-spacing: 0.4px;
  padding-top: 7px;
  padding-left: 1px;
  font-family: Lato, sans-serif;
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
}

.lower-footer-container {
  /* width: 1600px; */
  height: 79px;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
}

.rights-and-icons {
  margin: 0 auto;
  width: 1140px;
  min-width: 450px;
  height: 45px;
  // justify-content: space-between;
  // align-items: center;
  .copyright {
    word-spacing: 2.4px;

    span {
      font-family: Lato, sans-serif;
      color: #7a7a7a;
      font-size: 16px;
      font-weight: 400;
      line-height: 42px;
      letter-spacing: 0.4px;
    }
  }
}

.rights-and-icons .social-icons-container {
  position: relative;
  bottom: 35px;
  left: 18px;
  float: right;
  max-width: 191px;
  width: 191px;
  display: flex;
  justify-content: space-between;
}

.social-icon {
  width: 32px;
  height: 32px;
  background-color: #e2e2e2;
  color: #b2b2b2;
  text-align: center;
}

.social-icon a {
  display: block;
  color: #b2b2b2;
  text-decoration: none;
}

.social-icon a:link {
  color: #b2b2b2;
  background-color: #ffffff;
}

.social-icon a:visited {
  color: gray;
}

.social-icon a:hover {
  background-color: #f16d7f;
  color: #ffffff;
}

.social-icon a:active {
  background-color: #f16d7f;
  color: #ffffff;
}

.social-icon .fab {
  line-height: 32px;
}