body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.ball-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}
i {
  width: 30px;
  height: 30px;
  background: fuchsia;
  border-radius: 50%;
  margin-left: 5px;
}
i:nth-child(even) {
  animation: up-down 2s ease-in-out infinite alternate;
}
i:nth-child(odd) {
  animation: up-down 2s ease-in-out infinite -1s alternate;
}
@keyframes up-down {
  0% {
    transform: translateY(-60px) translateX(-50px) scale(0.5);
    margin-left: 50px;
  }
  40% {
    border-radius: 0%;
  }
  50% {
    height: 45px;
    width: 10px;
    border-radius: 0%;
    transform: rotate(-630deg) scale(1.2);
  }
  60% {
    height: 45px;
    width: 10px;
    border-radius: 0%;
    transform: rotate(-630deg) scale(1.2);
  }
  80% {
    margin-left: -90px;
  }
  100% {
    transform: translateY(60px) rotate(-540deg);
    margin-left: -90px;
  }
}
