.background-mat {
  width: 200px;
  height: 200px;
  /* background: yellow; */
}

.cat-wrapper {
  position: relative;
  top: 35%;
  left:40%;
  z-index: 1;
}

.cat-body {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background:#9ac3dc;
  position: absolute;
  /* top: 30%;
  left:40%; */
  overflow: hidden;
  
  /* display:none; */
}

.cat-body-gloss {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background:#b0d4ed; 
  position: absolute;
  /* z-index: 1; */
  bottom: 30%;
  
}

.cat-tail {
  width: 50px;
  height: 10px;
  background: #b0d4ed;
  border-radius: 5px;
  transform: rotate(90deg);
  bottom: 5px;
  left: 19px;
  position: absolute;

}

.cat-pawn-left {
  width:30px;
  height: 30px;
  background: #afd3ec;
  border-radius: 50%;
  position: absolute;
  top:63px;
  left:10px;
  z-index: -1;
}

.cat-pawn-right {
  width:30px;
  height: 30px;
  background: #afd3ec;
  border-radius: 50%;
  position: absolute;
  top:63px;
  left:50px;
  z-index: -1;
}

.cat-shadow {
  width: 90px;
  height: 90px;
  background-color: #e0f0f7;
  border-radius: 50%;
  position: absolute;
  top:14px;
  z-index: -2;
}

/* .cat-tail {
  width:65px;
  height:40px;
  border:10px solid transparent;
  border-bottom-color: #b0d4ed;
  border-radius: 50%;
  transform: rotate(-100deg);
  position: absolute;
  left:-23px;
  bottom: -23px;
  
}

.cat-tail-end {
  height: 10px;
  width: 10px;
  background: #b0d4ed;
  position:absolute;
  
  bottom: 1.9px;
  
  right:-4px;
  border-radius: 50% 50% 0 0;
  transform: rotate(45deg);
} */


/*cat head css*/

.cat-head-wrapper {
  position: absolute;
  top:16px;
  left:10px;
}

.cat-head {
width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #c1e3f7;
  position: absolute;
  z-index: 2;
  overflow:hidden;
}

.cat-left-eye {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 0% 50% 50% 50%;
  position: absolute;
  top:30px;
  left: 13px;
  z-index: 1;
}

.cat-right-eye {
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 50% 0% 50% 50%;
   position: absolute;
  top:30px;
  left: 48px;
  z-index: 1;
}

.cat-nose {
  width: 0;
height: 0;
border-style: solid;
border-width: 8px 6.5px 0 6.5px;
border-color: #000000 transparent transparent transparent;
border-radius: 190%;
 position: absolute;
top:15px;
left:21px;
z-index: 2;
}

.cat-left-whisker {
  width: 12px;
  height: 2px;
  background: gray;
   position: absolute;
  bottom:17px;
  left:15px;
}

.cat-right-whisker {
  width: 12px;
  height: 2px;
  background: gray;
   position: absolute;
  bottom:17px;
  left:43px;
}

.cat-mouth-line-left {
  width: 20px;
  height: 2px;
  border: 2px gray solid;
  border-color:transparent transparent gray transparent;
  border-radius: 50%/0% 0% 5px 5px;
   position: absolute;
  left:14px;
  bottom:5px;
  transform: rotate(-30deg);
  z-index: 1;
}

.cat-mouth-line-right {
  width: 20px;
  height: 2px;
  border: 2px gray solid;
  border-color:transparent transparent gray transparent;
  border-radius: 50%/0% 0% 5px 5px;
   position: absolute;
  left:33px;
  bottom: 5px;
  transform: rotate(30deg);
  z-index: 1;
}

.cat-mouth {
  background: white;
  width: 55px;
  height: 35px;
  border-radius:50%;
   position: absolute;
  top:35px;
  left: 8px;
}


.cat-left-ear {
  height: 30px;
  width: 60px;
  background: #c1e3f7;
  border-radius: 180% 0% 0% 140% / 35% 0% 0% 160%;
  transform:rotate(65deg);
  position: absolute;
  left: -15px;
 overflow: hidden;
 z-index: 1;
}

.cat-left-ear-inside {
  height: 30px;
  width: 60px;
  background: #bfbfd9;
  border-radius: 180% 0% 0% 140% / 35% 0% 0% 160%;
  position: relative;
  /*right*/
  top: 14px;
  /*top*/
  left:-7px;

  transform: rotate(24deg);

}

.cat-right-ear {
  height: 30px;
  width: 60px;
  background: #c1e3f7;
  border-radius: 0% 180% 140% 0% / 0% 35% 160% 0%;
  transform:rotate(-65deg);
  position: absolute;
  left: 25px;

 overflow: hidden;
 z-index: 1;
}

.cat-right-ear-inside {
  height: 30px;
  width: 60px;
  background: #bfbfd9;
  border-radius: 0% 150% 190% 0% / 0% 60% 160% 0%;
  position: relative;
  /*left*/
  top: 13px;
  /*bottom*/
  left:8px;
  transform: rotate(-24deg);

}

